TEST_URL=https://practicetestautomation.com/practice-test-login/
TEST_USERNAME=Usuario correcto
TEST_PASSWORD=Contraseña correcta
TEST_USERNAMECASO2=usuario incorrecto
TEST_PASSWORDCASO2=contraseña incorrecta
